/* Page */
body {
	background-color: #fCfCfC;
}

.page {
	margin-top: 155px;
}

.container-navbar {
	position: relative;
}

/* Custom Navbar */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: inherit;
    font-weight: bold;
}

/* Coverflow */
#coverflow {
	height: 400px;
	margin-top: 30px;
	outline: none;
}

a.book-link {
	color: #000;
}

.book-cover {
	background-color: #fff;
	width: 275px;
	height: 380px;
	border: 1px #CCC solid;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	display: inline-block;
	user-select: none;
	text-transform: uppercase;
	margin: 5px;
}

.book-cover:hover {
	border: 1px #0a88ba solid;
}

.book-student-names{
	width: 255px;
	font-size: 8px;
	text-align: center;
	top: 115px;
	position: absolute;
	text-transform: uppercase;
}

.book-title {
	width: 255px;
	font-size: 8px;
	font-weight: bold;
	text-align: center;
	top: 185px;
    position: absolute;
    text-transform: uppercase;
}

.book-footer {
	width: 255px;
	font-size: 8px;
	text-align: center;
	top: 360px;
    position: absolute;
    text-transform: uppercase;
}

.right{
	float: right;
}

.left {
	float: left;
}

/* Modal centralizado */
.modal {
  text-align: center;
}

 .modal:before {
   display: inline-block;
   vertical-align: middle;
   content: " ";
   height: 100%;
 }


.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media ( min-width :768px) {
	#modal-login .modal-dialog {
		width: 450px;
	}
}


/* Responsive Layout */
@media (min-width: 992px){
	/* Page */
	.page {
		margin-top: 175px;
	}

	/* Navbar */
	.container-navbar {
		position: relative;
	}

	.search-form {
		position: absolute;
		top: 10px;
		right: 0px;
	}
}

@media(min-width: 768px){
	/* Page */
	.page {
		margin-top: 155px;
	}

	/* Navbar */
	.container-navbar {
		position: relative;
	}

	.search-form {
		position: absolute;
		top: 10px;
		right: 0px;
	}
}

@media(min-width: 530px) and (max-width: 768px){
	/* Coverflow */
	#coverflow {
		min-height: 330px;
	}

}

@media(max-width: 768px){
	/* Page */
	.page {
		margin-top: 193px;
	}

	/* Navbar */
	#campo-pesquisa {
		width: 55%;
		margin-right: 5%;
		margin-left: 5%;
		display: inline;
	}

	#botao-pesquisa {
		width: 25%;
		display: inline;
	}

	/* Coverflow */
	#coverflow {
		max-height: 220px;
	}

	#coverflow .cover {
		width: 50%;
	}

	.book-cover {
		height: 450px;
	}
}