/* Global Styles */
body {
	margin-top: 50px;
}

@media ( min-width :768px) {
	body {
		margin-top: 50px;
	}
}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
	background-color: #fff;
}

.huge {
	font-size: 50px;
	line-height: normal;
}

.page-header {
	margin: 65px 0 20px;
}

@media ( min-width :768px) {
	#wrapper {
		padding-left: 225px;
	}
	
	#page-wrapper {
		padding: 10px;
	}
	
	.page-header {
		margin: 10px 0 20px;
	}
}

/* Top Navigation */
.top-nav {
	padding: 0 15px;
}

@media ( max-width :768px) {
	.top-nav {
		padding: 0px;
	}
}

.top-nav>li {
	display: inline-block;
}

@media ( max-width :768px) {
	.top-nav>li {
		margin: 0px;
    	text-align: center;
    	display: inline;
	}
}

.top-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #999;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
	.top-nav>.open>a:focus {
	color: #fff;
	background-color: #000;
}

.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}

ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

li.message-footer {
	margin: 5px 0;
}

ul.alert-dropdown {
	width: 200px;
}

/* Side Navigation */
@media ( min-width :768px) {
	.side-nav {
		position: fixed;
		top: 50px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #222;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	.side-nav>li>a {
		width: 225px;
	}
	.side-nav li a:hover, .side-nav li a:focus {
		outline: none;
		background-color: #000 !important;
	}
}

.side-nav>li>ul {
	padding: 0;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 78px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}

/* Flot Chart Containers */
.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

/* Custom Colored Panels */
.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green>.panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green>a {
	color: #5cb85c;
}

.panel-green>a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red>.panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red>a {
	color: #d9534f;
}

.panel-red>a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow>.panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow>a {
	color: #f0ad4e;
}

.panel-yellow>a:hover {
	color: #df8a13;
}

/* Classes para flutuar objetos */
.right {
	float: right;
	margin-left: 5px;
}

.left {
	float: left;
	margin-right: 5px;
}

/* Correção das cores do Bootstrap */
.navbar-inverse {
	border: none;
	box-shadow: 0px 0px 10px 0px;
	-webkit-box-shadow: 0px 0px 10px 0px;
	-moz-box-shadow: 0px 0px 10px 0px;
}

@media ( min-width :768px) {
	.navbar-inverse .navbar-collapse {
		background-color: #3980B5;
		border: none;
	}
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.top-nav>li>a {
	color: #FFF;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
	.top-nav>.open>a:focus {
	background-color: #0B62A4;
}

@media ( max-width :768px) {
	.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
		.top-nav>.open>a:focus {
		background-color: #000;
	}
}

/* Modal centralizado */
.modal {
  text-align: center;
}

 .modal:before {
   display: inline-block;
   vertical-align: middle;
   content: " ";
   height: 100%;
 }


.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media ( min-width :768px) {
	#modal-login .modal-dialog {
		width: 450px;
	}
}

/* Classes para flutuar objetos */

.right {
	float: right;
	margin-left: 5px;
}

.left {
	float: left;
	margin-right: 5px;
}

/* Loading icon page */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../images/gifs/preloader.gif) center no-repeat #fff;
}

.se-pre-con-dark {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../images/gifs/loading.gif) center no-repeat rgba(0,0,0,.8);
}

/* Login Form */
.login-html {
	height:100%;
	background: url("../../images/background/background-login.jpg");
}

@media ( min-width :768px) {
	.login-body {
		background-color: transparent;
		margin-top: 250px;
	}
}

@media ( max-width :768px) {
	.login-body {
		background-color: transparent;
	}
}

/* Modal Form */
pre#texto-modal {
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #FFF;
    border: none;
}

/* Panel informaition */
#panel-information {
	display: none;
}